<ion-content>

  <ion-list>

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text"[(ngModel)]="firstname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastname"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block (click)="addAddress()">Add Address</button>
  </div>

</ion-content>
