<ion-content>

  <ion-list>

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" value={{address.firstname}}></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" value={{address.lastname}}></ion-input>
    </ion-item>

  </ion-list>


</ion-content>
